@{
    ViewData["Title"] = "Delete Appointment";
}

@model Appointment;

<div class="text-center">
    <h2 class="display-4">Are you sure you want to delete the appointment for @Model.GroupName?</h2>
</div>

<form method="post" asp-controller="Home" asp-action="Delete">
    <a asp-controller="Home" asp-action="Appointments" class="btn btn-primary">Cancel</a>
    <button type="submit" class="btn btn-primary">Delete</button>

    <input type="hidden" asp-for="AppointmentId" />
</form>