@{
    ViewData["Title"] = "Home Page";
}

<!--Header-->
<h1 class="display-4 text-center">Layton Utah Temple Tours</h1>
<br />

<div class="row">

    <!--Image-->
    <div class="col-6 text-center">  
        <img src="~/img/layton-utah-temple-6932-main.jpg" class="w-100"/>
        <br />
        <small><a href="https://churchofjesuschristtemples.org/" target="_blank">Image</a> © Intellectual Reserve, Inc. All rights reserved.</small>
    </div>

    <!--Descriptions-->
    <div class="col-6">

        <p>We can only add a limited number of tours at this time. They will be removing the visitors center soon so that they can complete the 
        landscaping. When the trailer is gone, we anticipate being able to talk to groups on the lawn of the church across the street or at the 
        Morgan's backyard. We are trying to facilitate as many groups as possible, so please only sign-up when you can commit to coming on the 
        selected date and time. We have a lot of last minute cancelations.</p>

        <p>We can do groups on Saturday, please text me at 801-628-4488.</p>

        <h6>General Tour Instructions:</h6>
        <ul>
            <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</li>
            <li>Dress casual, except on Sunday</li>
        </ul>

        <h6>Special Accommodations (check the appropriate box when signing up for a tour):</h6>
        <ul>
            <li>Spanish-speaking tours are available, by request.</li>
        </ul>

        <h6>Available Tours:</h6>
        <ul>
            <li>Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on uneven surfaces; 
            please wear sturdy shoes</li>
            <li>Trailer Tour: On Sunday. Masks are required</li>
        </ul>

        <h6>Please call or text 801-628-4488 with questions or special requests.</h6>

    </div>
</div>
