@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton Utah Temple Tours</h1>
    <br />
    <div class="row" style="vertical-align: middle;">
        <div class="col-6 text-center">
            
            <img src="~/img/layton-utah-temple-6932-main.jpg" class="w-100"/>
            <br />
            <small><a href="https://churchofjesuschristtemples.org/" target="_blank">Image</a> © Intellectual Reserve, Inc. All rights reserved.</small>
        </div>
        <div class="col-6 text-center">
            <p>Come tour the beautiful, newly-constructed Layton, Utah Temple! We provide tours every hour, on the hour between 8:00 am and 8:00 pm. These are hosted by the wonderful Rob Hilton free of charge.</p>
        <p>See <a href="https://churchofjesuschristtemples.org/layton-utah-temple/" target="_blank">The Official Layton Temple</a> site for more information.</p>
        </div>
    </div>
</div>
