@{
    ViewData["Title"] = "Create an Appointment";
}

@model Project_2.Models.Appointment

<!--Form for User to fill out-->
<div>

    <form method="post">
        <div asp-validation-summary="All"></div>

        <label asp-for="Date">Date:</label>
        <input asp-for="Date" />
        <br />

        <label asp-for="Time">Time:</label>
        <input asp-for="Time" />
        <br />

        <label asp-for="GroupName">Group Name:</label>
        <input asp-for="GroupName" />
        <br />

        <label asp-for="SizeOfGroup">Group Size:</label>
        <input asp-for="SizeOfGroup" />
        <br />

        <label asp-for="Email">Email Address:</label>
        <input asp-for="Email" />
        <br />

        <label asp-for="Phone">Phone Number:</label>
        <input asp-for="Phone" />
        <br />
        <br />

        <button type="submit">Submit Appointment</button>
    </form>

</div>
